#catalog1 {
    /*background-image: url(../lib/catalog/catalog-1.png);*/
}

.item {
    margin-bottom: 1px;
}

a {
    width: 100px;
    height: 100%;
    z-index: 200;
    top: 0px;
}

.support {
    opacity: 0.7;
}

.item {
    /*width: 100vw;*/
    /*height:25%;*/
    /*width:100%;*/
}

html {
    background: -webkit-linear-gradient(#D6E3E9, #DEDEDE);
    background: -o-linear-gradient(#D6E3E9, #DEDEDE);
    background: -moz-linear-gradient(#D6E3E9, #DEDEDE);
    background: linear-gradient(#D6E3E9, #DEDEDE);
    background-attachment: fixed;
}

html, body {
    overflow: hidden;
    overflow-y: auto;
}

.name {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    line-height: 0;
    position: relative;
    font-weight: bold;
    text-align: center;
    top: 20vw;
    /*left:67px;*/
    font-size: 20px;
    word-spacing: 8px;
    letter-spacing: 7px;
    color: 527283;
    z-index: 101;
    /*font-size: :30px;*/
}

.en {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    line-height: 0;
    position: relative;
    text-align: center;
    /*left: 60vw;*/
    /*top: 28vw;*/
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: 527283;
    z-index: 101;
    /*font-size: :30px;*/
}

.powerby {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    /*bottom:10px;*/
    color: 527283;
    z-index: 101;
    font-size: 12px;
    word-spacing: 0px;
    letter-spacing: 0px;
}

.img {
    width: 100vw;
    position: relative;
    /*top: 0;*/
}
